
<div class='row'>
<br><br>
  <div class='medium-6 medium-offset-3 columns'>
    <h2>Signin As Candidate</h2>
    <%= render "form" %>    
    <p>
      No account yet? Sign up as <%= link_to ' Candidate!', signup_path %> or  <%= link_to 'Employer!', register_path %>
    </p>
  </div>
</div>
    