
<div class='row'>
<br><br>
  <div class='medium-8 medium-offset-2 columns session'>
    <h2>Log In</h2>
    <%= render "form" %>    
    <p class='text-center'>
      No account yet? Sign up as <%= link_to ' Candidate!', signup_path %> or  <%= link_to 'Employer!', register_path %>
    </p>
  </div>
</div>
    