<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p>Hi, <%= @job_employer.name %></p>
  <p><%= @current_candidate.name %> has applied for the position of </p>
  <p><%= @resume %></p>
</body>
</html>
