
<div class='row'><br><br>
  <div class='medium-10 medium-centered columns jobsmat'>
    <h1>About us</h1>
    <h2>Our Mission</h2>
    <p>We help employer connect with great candidates and job-seeker find jobs at their preferred companies. </p>

    <p>We are fastest growing jobs and company review site.</p>
    <p>JobsMat is headquartered in Abuja, Nigeria and was founded by Said Maadan and Maryam Maadan in 2016.</p>
  </div>
</div>

