
<div class='row'>
  <h1>About us</h1>
  Some of the keyword suggestions you just got may appear way too general — especially if you're just starting out on the web. It's a good idea to make the keywords more specific and relevant to your particular business — by combining them with local modifiers and brand names for example.
</div>