<div class='row'>
  <h1>Frequent Asked Question</h1>
  <div class="row" data-equalizer data-equalizer-mq="large-up">
  <div class="medium-6 columns panel" data-equalizer-watch>
    You can specify media queries for which equalizer should activate on. Apply the data-equalizer-mq attribute to the parent container. Set the value of the attribute to the same media queries you are use to using in Foundation. If you use an unknown media query, Equalizer will ignore the media query request. This is particularly useful if you have set equalize_on_stack to true.
  </div>
  <div class="medium-6 columns" data-equalizer-watch>
    You can specify media queries for which equalizer should activate on. Apply the data-equalizer-mq attribute to the parent container. Set the value of the attribute to the same media queries you are use to using in Foundation.
  </div>
  </div>
  <div class="row" data-equalizer data-equalizer-mq="large-up">
  <div class="medium-6 columns panel" data-equalizer-watch>
    You can specify media queries for which equalizer should activate on. Apply the data-equalizer-mq attribute to the parent container. Set the value of the attribute to the same media queries you are use to using in Foundation. 
  </div>
  <div class="medium-6 columns" data-equalizer-watch>
    You can specify media queries for which equalizer should activate on. Apply the data-equalizer-mq attribute to the parent container. Set the value of the attribute to the same media queries you are use to using in Foundation.
    If you use an unknown media query, Equalizer will ignore the media query request. This is particularly useful if you have set equalize_on_stack to true.
  </div>
</div>
  <ul class="tabs vertical" data-tab>
  <li class="tab-title active"><a href="#panel11">Tab 1</a></li>
  <li class="tab-title"><a href="#panel21">Tab 2</a></li>
  <li class="tab-title"><a href="#panel31">Tab 3</a></li>
  <li class="tab-title"><a href="#panel41">Tab 4</a></li>
</ul>
<div>
  This is the first panel of the basic tab example. You can place all sorts of content here including a grid.
</div>
<div class="tabs-content">
  <div class="content active" id="panel11">
    <p>This is the first panel of the basic tab example. You can place all sorts of content here including a grid.</p>
  </div>
  <div class="content" id="panel21">
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel31">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel41">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div>

</div>