<div class='home-main'>
  <div class='jobsmatron'>
    <div class='row'>
      <div class='home-top'>
        <h1>Find the Right Job</h1>
        <div class="medium-10 medium-offset-1 small-12 columns">
          <%= form_tag search_jobs_path, method: :get do %> 
            <div class="row collapse"> 
              <div class="small-10 columns">
                <%= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs..." %>
              </div>
              <div class="small-2 columns">
                <%= submit_tag 'Search', name: nil, class: "warning button postfix " %>
              </div>   
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>
 