<div class='row'>
  Step 3: Add local modifiers and brand names

  Some of the keyword suggestions you just got may appear way too general — especially if you're just starting out on the web. It's a good idea to make the keywords more specific and relevant to your particular business — by combining them with local modifiers and brand names for example.

  How-to:  Make use of Word Combinations method. In your Rank Tracker project, copy all keywords you've got by now. Hit  again, and select Word Combinations from the list of research methods. Paste your keywords into the field on the left, and enter the relevant brand names and/or locations in the field on the right — these will be added to your keywords.



  Tips:  Pick what's truly relevant. Go through the list and remove the terms that you feel aren't very relevant to your product or service, and keep the rest — effective as they are, automated keyword research tools are no humans, so the results need to be double-checked.

  Step 4: Determine keyword efficiency

  When you're starting your keyword research, the two crucial factors to look at are keyword demand (aka number of searches) and competition. The former is the number of times the keyword is searched for monthly, and the latter is the number of sites competing for the term in search engines' listings.

  Search volume to competition ratio lies in the basis of Rank Tracker's KEI (Keyword Efficiency Index) formula. The index will let you quickly single out keywords that can bring you lots of visitors — while being comparatively easy to rank for.



  How-to:  Analyze the KEI column. Take a closer look at the KEI column to spot the most efficient terms. If KEI has not been checked for some of your keywords yet, hit  .



  Tips:  1. Avoid the highest competition. If you are just starting out on the web with your website, you'll probably want to remove all keywords with extreme competition values (even if the KEI is good) — at least for now. With millions of sites competing for rankings for a given keyword already, it'll take you a good while to rank high for the term.

  2. Select keywords with the best KEI out of the remaining ones, and get rid of the ones with the worst — these are the terms with crazy competition and not-so-many monthly searches, so optimizing for them is hardly worth the effort at this point.

  Analyze keyword efficiency (video 1:26)
  Step 5: Check keyword difficulty

  By now, you are probably looking at a list of terms with promising KEI values and relatively low competition. It's time to calculate Keyword Difficulty and see if the competition is not just low in numbers, but also not that high in quality. Keyword Difficulty will let you estimate the work required to get your site to show up in the top results.

  How-to:  Switch to the Keyword Difficulty tab. Click on the keyword you'd like to check Difficulty for, navigate to the Keyword Difficulty tab in Rank Tracker's lower screen, and hit   to calculate the value. The higher the score, the more SEO work it'll take for you to unseat your competitors.
</div>