<div class='row'><br><br>
  <div class='medium-12 medium-centered columns jobsmat'>
    <h1>JobsMat Privacy Policy</h1><hr>
    <h3>What information do we collect?</h3>
    <p>We collect information from you when you register on our site as job-seeker or employer.

    <p>When registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address or phone number. You may, however, visit our site anonymously.</p>

    <h3>Information We Collect</h3>

    <p>We may obtain information about you from various sources, including our Sites, when you call or email us or communicate with us through social media, or when you participate in events, contests or other promotions. We also may obtain information about you from our parent, affiliate or subsidiary companies, business partners and other third parties and publicly available information.</p>

    <p>The types of information we may obtain include:</p>
    <ul>
      <li>
        Your Personal Information, if you choose to provide it or if we obtain it in the manner described above. You do not have to give us any Personal Information in order to perform job searches or to read the content portions of the Sites.
      </li>
      <li>
        Email/Username and password for the account you may establish on our Sites.
      </li>
      <li>
        Your demographic information (such as zip or postal code, occupation, education and experience, and if you choose to provide it, age, gender and race or ethnicity). We collect this information either through the registration process, from your resume or in the manner described above.
      </li>
      <li>
        Job search behavior and preferences, and a record of the searches that you make on our Sites. We do this in order to present you with job recommendations based on your interests as expressed previously through your searches.
      </li>
      <li>
        Other details that you may submit to us or that may be included in the information provided to us by third parties.

      </li>
    </ul>  
    <h3>How do we use your information we collect?</h3> 

    <p>Though we offer a number of services that do not require you to register for an account or provide any personal information to us, such as our search functions. You may be required to provide "personal information" to access or use certain parts of our Website or features of the Site. If you do not provide the requested personal information, you may not be able to access or use the features of the Site where such information is requested. We may ask you for personal information, which includes information that pertains to your identity, that we or certain of our third party partners consider necessary for performing an evaluation of your qualifications for their employment opportunity.
    </p>
    <ul>
      <li>
        To present our Site and its contents to you.
      </li>
      <li>
      
        We use it continually improve our website offerings based on the information and feedback we receive from you.</li>

      <li>The information you present helps us to be more effectively respond to your customer service requests and support needs
      </li>
    </ul>
    <h3>SECURITY OF INFORMATION</h3>
    <p>The security of your personally identifiable information is important to us.</p>

    <p>We follow generally accepted standards to protect the personally identifiable information submitted to us, both during transmission and once we receive it. Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure, however. Therefore, we cannot guarantee its absolute security.</p>
    <h3>How To Access and Update Your Personal Information</h3>

    <p>If your Personal Information changes, or if you wish to cancel your account, you may do so by making the change on you profile information page or by emailing our Customer Support team at <a href="mailto:support@jobsmat.com">support@jobsmat.com</a>. Please note that copies of information that you have updated, modified or deleted may remain viewable in cached and archived pages of the Site for a period of time.</p>
    <h3>Information Sharing</h3>
    <p>We do not sell or rent your Personal Information to third parties so that those third parties can market their own products or services to you. We may, however, disclose the information we collect about you, including your Personal Information, as follows:</p>
    <ul>
      <li>
        If a Job Seeker adds a resume to the Resume Database, Employers can search and view such resumes and/or receive communications from us about resumes that may be relevant to their job postings.
      </li>
      <li>
        If you respond to a job posting, we will share your response with the Employer that posted the job and/or with the Employer's external Applicant Tracking System or similar external system used by Employer's to manage responses to their job postings.
      </li>
     <li>
       Legal Process. We also may disclose the information we collect from you in order to comply with the law, a judicial proceeding, court order, or other legal process, such as in response to a subpoena.
     </li>
    </ul>
    <h3>Third Party Websites</h3>

    <p>Our Site may contain links to other websites. Please note that when you click on one of these links, you are entering another website over which Jobsmat.com has no control and will bear no responsibility. Often these websites require you to enter your Personal Information as you apply for a job directly with the hiring company. We encourage you to read the privacy statements on all such websites as their policies may differ from ours.</p>


    <h3>Privacy Policy Changes</h3>
    <p>Although most changes are likely to be minor, we may change our Privacy Policy from time to time, and in our sole discretion. We encourage visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this Site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

    <h3>Questions or Concerns</h3>
    If you have any questions or concerns regarding our privacy policies, please send us a detailed message to <a href="mailto:support@jobsmat.com">support@jobsmat.com</a>. We will make every effort to resolve your concerns.

  </div>
</div>
