<div class='row'><br><br>
  <div class='medium-12 medium-centered columns jobsmat'>
    <h1>Terms of Service</h1><hr>
    <p>Welcome to JobsMat.com. The following Terms of Services (Terms) are a binding legal agreement between you (“you” or “You”) and JobsMat.com. regarding your use of the www.JobsMat.com website and related services (collectively, the “Service”).Visitors and users of the Services are referred to individually as “User” and collectively as “Users”.</p>

    <b>
      PLEASE READ CAREFULLY THE FOLLOWING TERMS OF SERVICE. BY REGISTERING FOR, ACCESSING, BROWSING, OR USING THE SERVICE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THE FOLLOWING TERMS AND CONDITIONS, INCLUDING ANY ADDITIONAL GUIDELINES AND FUTURE MODIFICATIONS.
    </b>

    <p>Users who violate these Terms may have their access and use of the Service suspended or terminated, at JobsMat’s discretion.</p>

    <h3>* Definitions</h3>
    <p>[i] Candidate/Job Seeker- means a user of the Services who is seeking a Role and/or publishes a candidate profile on the Website. When you register as a candidate, you will be asked to submit information to your Account, such as specific experiences, education background, skills, capabilities and other employment-related information (“Profile”). The Profile requires standard fields to be completed and you may include in these fields any telephone numbers, street addresses, email addresses or other means of contacting you.</p>

    <p>[ii] Employer means a user of the Services who is looking to fill a Role and/or publishes an employer profile on the Website, including any designated representatives, subsidiaries and assigns.
    </p>
    <p>Employers are solely responsible for their job postings on the website. JobsMat is not to be considered to be an employer with respect to your use of any aspect of the Service and JobsMat shall not be responsible for any employment decisions, for whatever reason, made by any entity posting jobs on the website. In addition, employers are solely responsible for any Onboarding Materials that they upload to the website, as well as any Onboarding Materials that are submitted to them by their employees via the website. If you are an employer, you represent and warrant that you shall at all times and at your own expense: (i) strictly comply with all applicable laws, rules, regulations and governmental orders, now or hereafter in effect, relating to your use of the Service, including any aspect or feature thereof </p>

    <h3>* Job Postings</h3>
    <p>Employers/Recruiters allow to post to the Service employment opportunities for which the employer seeks to have candidates apply. Your Job Posting must contain sufficient detail to convey clearly to job seekers the nature and requirements of the job opportunity. Jobsmat may, but is under no obligation to, periodically review random Job Postings in order to ensure compliance with these Terms. Jobsmat reserves the right to remove any Job Posting or content from the Service in its sole discretion.</p>


    <h3>* Disclaimer</h3>

    <p>The materials on JobsMat.com web site are provided "as is". JobsMat.com makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, JobsMat.com does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>
    <h3>* Limitations</h3>

    <p>In no event shall JobsMat.com or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on JobsMat.com Internet site, even if JobsMat.com or a JobsMat.com authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

    <h3>* Revisions and Errata</h3>

    <p>The materials appearing on JobsMat.com web site could include technical, typographical, or photographic errors. JobsMat.com does not warrant that any of the materials on its web site are accurate, complete, or current. JobsMat.com may make changes to the materials contained on its web site at any time without notice. JobsMat.com does not, however, make any commitment to update the materials.</p>

    <h3>* Links</h3>

    <p>JobsMat.com has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by JobsMat.com of the site. Use of any such linked web site is at the user's own risk.</p>

    <h3>* Site Terms of Use Modifications</h3>

    <p>JobsMat.com may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>


    
  </div>
</div>
