<div class='employers-edit'>
  <div class='row'>
    <div class='medium-4 columns'>
      <% if @employer.emp_image_url %>
        <div class='hidden-for-small employer-profile-background'>
          <%= image_tag @employer.emp_image_url %>
        </div> 
      <% end %> 
    </div>
  <div class='medium-8 columns employer-setting'>
    <h2 class='text-center'>Account Setting</h2>
    <%= render 'form' %>
  </div>
  </div>
</div>