<div class='row'><br>

  <% if @employers.any? %>
    <% @employers.in_groups_of(4) do |group| %>
      <div class='row'>
        <% group.each do |employer| %>
          <% if employer %>
            <div class='large-3 medium-4 small-6 columns'>
            <div class='row'>
            <div class='medium-4 small-5 columns'>
                <p><%= profile_image_for(employer) %></p>
            </div>
            <div class='medium-8 small-7 columns'>
                <h4><%= link_to employer.name, employer %></h4>
                <h5><%= employer.email %></h5>
                <h5><%#= employer.city %></h5>
              </div>
            </div><br>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
