<div class="employer-new">
  <div class='row'><br>
    <div class='medium-6 columns employer-text'>
      <h2>Hire your next great job-seeker</h2>
      <p>Find the right one from thousands of applicants on JobsMat who are ready for new opportunities. Connect and post your tech job in less than 5 minutes for free.</p>
    </div>
    <div class='medium-6 columns employer-form'>
      <h2>Unlock Your Free Employer Account</h2>
          <%= render 'form' %>
    </div>

  </div>
</div>
