<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @candidate.name %>!</h1>
    <p>Thanks for joining and have a great day! Now sign in, create your eye catching profile, upload your resume and search for your next career job!</p>
  </body>
</html>
