<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      body{
        font-size: 15px;
      }
      header{
        img{
          width: 100%; height: 110px;
        }
      }
      footer{
        background-color: #43ac6a;
        color: #fff;
        padding: 15px;
        text-align: center;
      }
      .update{
        color: #43ac6a;
        font-weight: 600;
      }
      h4{
        font-size: 16px;
        margin-top: 15px;
      }
      .title{
        color: #43ac6a;
        font-weight: 600;

      }
    </style>
  </head>
  <body>
    <header>
      <img src="https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/jobsmat-email-logo.png" style="width: 100%; height: 110px;">
    </header>
    <h4>
      Hello <%= @candidate.name %>,
    </h4>

    <div class='title'>Thanks for signing up with Jobsmat</div>
    <p>You can now find your next career jobs from <%= link_to "thousands of jobs!", jobs_path %></p><br>
    
    <span class='update'>Update Your Profile</span>
    <p>
      Now sign in, create your eye catching profile, alongside with your recent updated resume, your profile gives employers and recruiters a great idea of who you are and the job you're after. We advise you edit your profile regularly to keep it up to date!
    </p><br>

    
    <span class='update'>Contact Jobsmat</span>
    <p>
      If you have any questions please use our <%= link_to "contact form", contact_path %> to get in touch. We will get back to you as soon as possible.
    </p>

    Good luck with your job search,<br>
    
    <b>The JobsMat Team</b><br>
    1-800-672-6706<br>
    <a href="http://www.jobsmat.com">
      www.jobsmat.com
    </a>
    </p>

    <footer>
      <span>     
        © 2016 <a href="http://www.jobsmat.com">Jobsmat</a>
      </span>
    </footer>
  </body>
</html>
