// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom";

//------------------------PROFILE----------------------------
.profile-home-tab{
  .panel{
    background: $lightgreen-color;
    border-radius: 20px;
    img{
      border-radius: 50%;
      height: 200px

    }
  }
}
.edit-candidates{
  // width: 80%;
  .cand-profile-image{
    img{
      width: 120px;
      height: 120px;
      text-align: left;
    }
  }
  .image_menu img{
    width: 50px;
    height: 50px;
  }
  .edit-table{
    table{
      background: #FFFFFF;
      border: solid 0px #DDDDDD;
      margin-bottom: 1.25rem;
      table-layout: auto;
      width: 120px;
      text-align: left;
      .fa{
        margin-right: 10px;
      }
      thead{
        background-color: $green-color;
        color: $white-color;

        :hover{
          color: $white-color;
        }
        th{
          a{
            color: $gray-color;
           }
        }
      }
    }
  }
    
}
.profile{
  margin-top: 40px;
  .profile-img{
    margin-top: 40px;
  }
  .tabs-content{
    margin-top: 40px;
    border: solid 1px $lightgreen-color;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background: $white-color;
  }
  img{
    width: 90%;
    height: 220px;
  }
 .tabs.vertical {
    float: left;
    margin: 0;
    margin-bottom: 1.25rem !important;
    max-width: 90%;
    width: 90%;
  }
  .tabs dd > a, .tabs .tab-title > a {
    display: block;
    background-color: $lightgreen-color;
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}
.profile .tabs dd > a, .profile .tabs .tab-title > a:hover {
  background-color: $green-color;
  color: $white-color;
}
ul.off-canvas-list li label {
  border-top: 0px solid #fff;
}
.educations-profile{
  .work{
    border: 1px solid $lightgreen-color;
    background: $white-color;
    border-radius: 15px;
    padding: 15px 20px;
    margin-bottom: 30px;
  }
  .works{
    border: 1px solid $lightgreen-color;
    background: $lightgray-color;
    border-radius: 15px;
    padding: 15px 20px;
    margin-bottom: 30px;
  }
}
.works-profile .works{
    border: 1px solid $lightgreen-color;
    background: $lightgray-color;
    border-radius: 15px;
    padding: 15px 20px;
    margin-bottom: 30px;
  }
//------------------------SHOW----------------------------
.show-img{
  width: 100%;
  img{
    width: 156px;
    height: 130px;
    margin: auto;
  }
}
.show-content{
  margin-top: 20px;
  border: solid 1px $lightgreen-color;
  border-radius: 10px;
  background: $white-color;
  padding: 20px 20px;
  width: 100%;
}
.show-aside{
  background: $white-color;
  border-radius: 1px;
  border-top: 1px solid $lightgreen-color;
  border-left: 1px solid $lightgreen-color;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid $lightgreen-color;
  margin-top: 20px;
  padding: 20px 20px;
  h3{
    color: $body-color;
    border-bottom: 1px solid $lightgreen-color;
  }
}
.cand-works-exp{
  .fa{
    margin-right: 10px;
    color: $green-color;
  }
}

#candidate-all-job{
  margin-top: 10px;
  border-top: 1px solid $lightgreen-color;
  //border-bottom: 1px solid $lightgray-color;
  padding: 10px 7px;
  h3{
    font-size: 1.2rem;
    border-bottom: 0px;
  }
}
.candidate-aside{
  h2{
    font-size: 1.3rem;
  }
}
.candidate-followed{
  h2{
    border-bottom: 1px solid $lightgreen-color;
    margin-bottom: 10px;
    padding-bottom: 8px; 
  }
  img{
    margin-top: 7px;
  }
}

//------------------------EDIT----------------------------
.edit-candidates{
  margin-top: 60px;
  .edit-form{
    margin-top: 30px;
    border: solid 1px $lightgreen-color;
    border-radius: 10px;
    background: $white-color;
    padding: 20px 30px;
  }
}

//-----------------------Index----------------------------
.candidate-home{
  img{
    float: left;
    width: 100%;
    height: 80px;
  }
  .fa{
    float: left;
    font-size: 6rem;
    height: 80px;
    color: $green-color;
  }
  .cand-content{
    float: right;
  }
}
.has-tip{
  .fa{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: $green-color;
    color: #fff;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 1.5rem;
  }
}

// .edit-table table{
//   width: 160px;
// }