// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom";

.company-head{
  width: 106%;
  height: 100%;
  margin-bottom: 2px;
  margin-left: -20px;
  margin-right: -20px;
  span{
    img{
      max-width: 1500px;
      min-width: 1500px;
      min-width: 500px;
      max-height: 500px;
      width: 104%;
      height: 100%;
    }
    .content{
      position: relative;
      float: left;
      margin-left: 3%;
      margin-top: -12%;
      color: #ddd;
      background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgb(4, 4, 4) 100%);
      box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
      padding: 15px;
      img{
          max-width: 100px;
          min-width: 100px;
          min-width: 100px;
          max-height: 100px;
          width: 100px;
          height: 100px;
          float: left;
          margin-right: 10px;
      }
      span{
        float: right;
        margin-top: 0px;
        text-align: left;
        a{
          color: $lightgreen-color;
          font-size: 18px;
          font-weight: 900;
        }
        a:hover{
          color: $green-color;
        }
        p{
          font-size: 16px;
        }
      }
    }
    .content-medium{
      position: relative;
      float: left;
      margin-left: 40%;
      margin-top: -7.5%;
      color: #ddd;
      background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgb(4, 4, 4) 100%);
      box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
      padding: 5px;
      img{
        max-width: 40px;
        min-width: 40px;
        min-width: 40px;
        max-height: 40px;
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 10px;
      }
      span{
        float: right;
        margin-top: 0px;
        text-align: left;
        a{
          color: $lightgreen-color;
          font-size: 18px;
          font-weight: 900;
        }
        a:hover{
          color: $green-color;
        }
      }
    }
    .contents{
      position: relative;
      float: left;
      margin-top: -30%;
      color: #ddd;
      background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgba(75, 134, 104, 0.9) 100%);
      box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 5px;
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: center;
      input[type="text"], .postfix.button{
        height: 3.5rem;
      }
      h1{
        font-size: 2rem;
        font-weight: 900;
        color: $lightgreen-color;
        
      }
    }
  }
}

.company-feature{
  img{
    width: 100%;
    height: 80px;
  }
}
.company-name{
  margin-top: 20px;
  a{
    font-size: 1.4rem;
  }
}

//--------------------------SHOW-------------------------------
.company-show{
  margin-top: 20px;
}
.company{
  margin-top: 10px;
  background: $white-color;
  border-radius: 1px;
  border-top: 1px solid $lightgreen-color;
  border-left: 1px solid $lightgreen-color;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid $lightgreen-color;
}

.company-new-form{
  padding: 20px 20px;
  h3{
    font-size: 22px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $lightgreen-color;
  }
  .company-new{
    padding-top: 20px;
    //border-top: 1px solid $lightgreen-color;
  }
}
.company-bgimage{
  width: 102.8%;
  height: 100%;
  img{
    width: 115%;
    height: 100%;
    max-height: 250px;
    margin-left: -13px;
  }
}
.company-logo{
  img{
    margin-top: -40px;
    width: 100px;
    height: 100px;
  }
  span{
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
  }
}

.company-info{
  margin-top: 15px;
}
.company-main-top{
  padding: 10px 20px;
  h3{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
    word-spacing: 0px;
    padding-bottom: 10px;
  }
  span{
  font-weight: bold;
  font-size: 14px;
  }
  p{
    padding-top: 30px;
  }
}
.company-main-nav{
  padding: 10px 20px;
  .tabs{
    margin-left: 20px;
  }
  
  .tabs dd > a, .tabs .tab-title > a {
    margin-top: 10px;
    
    text-align: center;
    display: block;
    background-color: #fff;
    color: #333;
    padding: 7px;
    font-size: 15px;
  }
  .tabs .tab-title > a:hover {
    margin-top: 10px;
    display: block;
    background-color: $lightgreen-color;
    color: $primary-color;
  }
  .tabs .tab-title .active a {
    background-color: $lightgreen-color;
    color: $primary-color;
  }
  .tabs-content{
    border-top: 1px solid #ddd;
    padding: 10px 30px 10px;
    padding-right: 0;

  }
}
.company-follow{
  p{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #333;
  }
  .tabs dd > a, .tabs .tab-title > a {
    display: block;
    background-color: #fff;
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    padding: 0;
  }
  .tabs dd > a, .tabs .tab-title > a:hover {
    display: block;
    background-color: #fff;
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    padding: 0;
  }
  .facebook-so{
    margin-left: 20px;
    background: #435f9d;
    padding: 10px 20px;
    margin-bottom: 15px;
    color: #fff;
  }
  .facebook-so.hover{
    margin-left: 20px;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 15px;
    color: #000;
  }
  .twitter-so{
    margin-bottom: 10px;
    background: #2bb6e9;
    padding: 10px 20px;
    color: #fff;
  }
  .fa{
    margin-right: 15px;
  }
  .fa-facebook{
    color: #fff;
  }
  .fa-twitter{
    color: #fff;
  }
  .tabs-content{
    width: 100%;
    margin: auto;
    .social-tab{
      width: 90%;
      margin-left: 30px;
    }
  }
}
.company-video{
  p{
    padding-left: 15px;
    font-size: 18px;
    font-weight: normal;
    color: #333;
  }
  .company-video-content{
    margin-left: 0px;
  }
}

.company-social{
  margin-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  p{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #333;
  }
  .social-link{
    display: inline;
    
    .fa{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      color: #fff;
      padding-top: 5px;
      padding-left: 10px;
      margin-left: 10px;
    }
    .fa-2x{
      font-size: 2em;
    }
    .fa-twitter{
      background: #2bb6e9;
    }
    .fa-youtube{
      background: #d9292c;
    }
    .fa-linkedin{
      background: #0079b6;
    }
     .fa-facebook{
      background: #435f9d;
    }
    .fa-instagram{
      background: #004879;
    }
    .fa-google-plus{
      background: #d9292c;
    }
    .fa-pinterest-p{
      background: #c72527;
    }
     .fa-github-alt{
      background: #ddd;
    }
  }
}

//-----------------------Company Job--------------------------
.company-job-main{
  //border-top: 1px solid $lightgreen-color;
  border-bottom: 1px solid $lightgreen-color;
  padding: 20px 0;
  img{
    margin-top: 15px;
  }
}
.company-job-main.last{
  border-bottom: none;
}

.company-main-job{
  padding: 20px 0;
  .h{
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    word-spacing: 0px;
  }
  .sign{
    color: $primary-color;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 5px;
  }
  .company-show-job{
    border-bottom: 1px solid $lightgreen-color;
    padding: 10px 0;
    img{
      margin-top: 20px;
    }
  }
}

.company-button-header{
  a{
    color: #fff;
  }
  fa{
    margin-right: 5px;
  }
}
