// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom";

.home-main{
  margin-top: 0px;
  .jobsmatron{
    height: 100%;
    background-image: url('https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/jobsmat3.jpg');
    background-size: cover;
    text-align: center;
    right: 0;
    left: 0;
  }
  .home-top{
      //margin: 10% auto 10%;
      width: 80%;
      margin: 8% auto 15%;
      background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgba(125, 132, 128, 0.9) 100%);
      //background: linear-gradient(200deg, rgba(22,33,6,0) 0%, rgba(75,134,104,0.9) 100%);
      box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
      padding-bottom: 120px;
      padding-top: 50px;
      border-radius: 10px;
      h1{
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
        color: $lightgreen-color;
        padding-bottom: 20px;
      }
      input[type="text"], .postfix.button{
        height: 3rem;
      }
    }
}

