// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom";

.home{
  h2{
    font-size: 22px;
    font-weight: 500;
    color: $head-color;
    font-family: Helvetica Neue, HelveticaNeue;
  }
  h3{
    font-size: 16px;
    font-weight: 500;
    color: $body-color;
  }
}
.home-head{
  width: 108%;
  height: 100%;
  margin-bottom: 2px;
  margin-left: -15px;
  margin-right: -30px;

  span{
    img{
      max-width: 1500px;
      min-width: 1500px;
      min-width: 500px;
      max-height: 500px;
      width: 100%;
      height: 100%;
    }
   
    .content{
      position: relative;
      float: left;
      margin-left: 3%;
      margin-top: -10%;
      color: #ddd;
      background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgb(4, 4, 4) 100%);
      box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
      padding: 15px;
      img{
          max-width: 80px;
          min-width: 80px;
          min-width: 80px;
          max-height: 80px;
          width: 80px;
          height: 80px;
          float: left;
          margin-right: 10px;
      }
      span{
        float: right;
        margin-top: 0px;
        text-align: left;
        a{
          color: $lightgreen-color;
          font-size: 18px;
          font-weight: 900;
        }
        a:hover{
          color: $green-color;
        }
      }
    }
    .content-medium{
      position: relative;
      float: right;
      margin-right: 40%;
      margin-top: -7.5%;
      color: #ddd;
      background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgb(4, 4, 4) 100%);
      box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
      padding: 5px 15px;
      img{
        max-width: 40px;
        min-width: 40px;
        min-width: 40px;
        max-height: 40px;
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 10px;
      }
      span{
        float: right;
        margin-top: 0px;
        text-align: left;
        a{
          color: $lightgreen-color;
          font-size: 18px;
          font-weight: 900;
        }
        a:hover{
          color: $green-color;
        }
      }
    }
    .contents{
      position: relative;
      float: left;
      margin-top: -30%;
      color: #ddd;
      background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgba(75, 134, 104, 0.9) 100%);
      box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 5px;
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: center;
      input[type="text"], .postfix.button{
        height: 3.3rem;
      }
      h1{
        font-size: 3rem;
        font-weight: 900;
        color: $lightgreen-color;
        margin-bottom: -10px;
      }
      p{
        font-size: 1.5rem;
        font-weight: 400;
        color: $lightgreen-color;
        
      }
      input[type="text"], .postfix.button{
        height: 3.5rem;
      }
    }
  }
}

//-------------------------Home-Top----------------------------

.home-top{
  margin-top: 10px;
  img{
    // width: 50px;
    // height: 50px;
  }
  h3{
  }
}

//--------------------------Home-Main------------------------

.home-main{
  width: 108%;
  margin-top: 20px;
  .jobsmatron{
    height: 100%;
    width: 108%;
    border-top: 2px solid #ddd;
    background: $white-color;
    background-size: cover;
    text-align: center;
    right: 0;
    left: 0;
    padding: 30px;
    img{
      max-width: 100px;
      min-width: 100px;
      min-width: 100px;
      max-height: 100px;
      width: 100px;
      height: 100px;
      padding-top: 15px;
    }
    h2{
      margin-bottom: 10px;
      text-align: center;
    }
  }
}

.home-bottom{
  h2{
    margin-top: 15px;
  }
}

//---------------------Home-Background------------------
aside{
  height: 100%;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
  background: url('https://www.inventivelabs.co/assets/images/bg-earth.png')no-repeat center -50px; 
  background-size: cover;  
}
.home-background{
    background-color: #062F33;
    height: 100%;
    width: 108%;
    margin-left: -20px;
    margin-right: -20px;
    padding: 30px;
    h2{
      font-weight: 300;
      font-size: 40px;
      line-height: 56px;
      color: $lightgreen-color;
      text-align: left;
    }
    p{
      font-weight: 300;
      font-size: 24px;
      line-height: 33.6px;
      color: $lightgreen-color;
      text-align: left;
    }
    .button{
      margin-top: 30px;
      text-align: left;
    }
  }


//----------------home-tips-scroll-----------------------

.home-tips-scroll{
  height: 100%;
  width: 108%;
  margin-left: -20px;
  margin-right: -20px;
  background: $white-color;
  text-align: center;
  right: 0;
  left: 0;
  padding: 30px;
  img{
    height: 220px;
    width: 100%;
    margin-right: 5px;
  }
  .tips-scroll-h{
    position: relative;
    width: 98%;
    margin: auto;
    margin-top: -40%;
    background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, #1B2F23 100%);
    //background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgb(4, 4, 4) 100%);
    box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
    padding: 10px 15px;
    a{
      color: $lightgreen-color;
      font-size: 19px;
    }
    a:hover{
      text-decoration: underline;
      color: $green-color;
    }
  }
}




