// Place all the styles related to the tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom";

.tips-ad{
  margin: 20px auto;
}
.row .tips{
  margin-top: 20px;
}
.tips-listing{
  img{
    width: 100%;
    height: 120px;
  }
  h2{
    font-size: 1.3rem;
    padding-right: 20px;
  }
}

.tips-listing-side{
  h2{
    font-size: 1.3rem;
    color: $body-color;
    font-weight: 400;
    border-bottom: 1px solid $lightgray-color;
  }
  h3{
    font-size: 1.1rem;
    margin-bottom: -3px;
  }
  p{
    // font-weight: 900;
    font-size: .7rem
  }
  
}

.tip-details{
  padding: 20px;
  img{
    width: 100%;
    height: 350px;
  }
  h2{
    font-size: 2.0rem;
    font-weight: 500;
    margin-top: 15px;
  }
  p{
    font-size: 1rem;
  }
}

.tip-details-side{
  h2{
    font-size: 1.4rem;
    color: $body-color;
    font-weight: 400;
    border-bottom: 1px solid $lightgray-color;
  }
  h3{
    font-size: 1.1rem;
    margin-bottom: -3px;
  }
  p{
    // font-weight: 900;
    font-size: .7rem
  }
  
}
.tip-details-side-border{
  border-top: 1px solid $green-color;
  border-left: 1px solid $lightgray-color;
  border-bottom: 2px solid $lightgray-color;
  padding: 15px 10px; 
  margin-bottom: 10px
}

.company-on-tips{
  h2{
    font-size: 1.3rem;
    padding-left: 12px;
  }
  a img {
    border: none;
    width: 95%;
    height: 70px;
    margin: auto;
    margin-top: 10px;
  }
}

//---------------------------Comments---------------------

#comments-section{
  display: none;
}