
  <%# @tips.each do |tip| %>
    <%# if @tips %>
      <div class="jobsmat">
        <div class='row'>
          <div class='medium-4 small-12 columns'>
            <% if tip.logo_url %>
              <%= image_tag tip.logo_url %>
            <% else %>
            <%= image_tag "https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/jobsmat2.jpg" %>
            <% end %>
          </div>
          <div class='medium-8 small-12 columns'>
            <h2 class='tip-content'><%= link_to tip.title, tip %></h2>
            <p><%= truncate(tip.content, length: 250, seperate: "") %></p>
            <p><%#= link_to tip.source_url, tip.source_url %></p>
           </div>
        </div>
      </div>
    <%# end %>
  <%# end %>
