<div class='main-top-bar'>
  <nav class="top-bar" data-topbar>
  
            
    <ul>
    <%#= link_to (image_tag "https://s3.amazonaws.com/inventivelabs/jobinbox/logos/jblogo4.png"), root_path %>
    <%#= image_tag "https://s3.amazonaws.com/inventivelabs/jobinbox/logos/jblogo4.png" %>
      
      <!-- <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li> -->
    </ul>
    <div class="right top-bar-section">
      <div class='left-bar'>
      <%= link_to "Employer", root_path, class: 'warning button' %></li>
      <%= link_to "Apply As An Applicant", root_path, class: 'warning button hidden-xs' %>
      <span class='middle-pipe'></span>
      <%= link_to "LogIn", root_path, class: 'secondary hollow button' %>
      </div> 
        <%#= render 'layouts/navigation_links' %>
      <!-- </ul> -->
    </div>
  </nav>
</div>
