<div class='top-nav'>
  <div class='top-body'>
    <div class='medium-4 small-4 columns top-left'>
      <span><%= link_to (image_tag "https://s3.amazonaws.com/inventivelabs/jobsmat/imgs/jsmat-logo.png"), root_path %></span>
    </div>
    <div class='medium-8 small-8 columns right top-right'>
      <div class="large-8 medium-10 small-12 columns right top-right-main">
        <%= form_tag search_jobs_path, method: :get do %> 
          <div class="row collapse"> 
            <div class="large-10 small-8 columns">
              <%= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs..." %>
            </div>
            <div class="large-2 small-4 columns">
              <%= submit_tag 'Search', name: nil, class: "success button postfix" %>
            </div>   
          </div>
        <% end %>
      </div>
      <div class='top-right-side'></div>
    </div>
  </div>
</div>