<html>
  <body>
    <%= yield %><br><br>
    <!-- <p>Thanks</p>
    <p><a href="http://jobsmat.com">http://jobsmat.com</a><br>
    <a href="mailto:job@jobsmat.com">job@jobsmat.com</a>
    </p> -->
  </body>
</html>
